.header {
  max-width: 68.75%;
  min-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;


}

/*@media screen and (max-width: 1023px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 0;
  }
}
*/
